<title>About Page</title>
<h1>About Page</h1>
<p>The most attract french cuisine videos <a href="https://www.buzzfeed.com/marietelling/44-classic-french-meals-you-need-to-try-before-you-die?utm_term=.xk1mJBzQ00#.dwnx9GB4ee">here</a>
  <a href="https://screencasts.railstutorial.org"><br>RoR screencast series here</a>
</p>
