<%provide(:title, "Help") %>
<title><%=yield (:title)%> Page</title>
<h1>Help Page</h1>
<p>
  There are no help here, buddy.
  <a href="http://www.railstutorial.org">But maybe, some help here.</a>
</p>
